.app {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.card {
  padding: 1.5em;
  border-radius: 0.8em;
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,h2,p,h3 {
  margin-top: 0;
  margin-bottom: 0;
}


h1 {
  position: absolute;
  top: 3em;
  font-size: 3rem;
}
h1:hover{
  font-size: 51px;
}

h4 {
  position: relative;
  top: 14em;
  color: white;
  background-color: mediumturquoise;
  padding: 0.8em;
  border-radius: 2em;
}

button {
  border-radius: 1em;
  padding: 1em;
  font-family: inherit;
  cursor: pointer;
  color:rgb(253, 253, 253);
  background: linear-gradient(to bottom right, rgb(22, 178, 240), pink)
  
}
